{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form-validation.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>Регистрация</h2>
        </div>
            <div class="col-md-8 order-md-1">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="lastName">Фамилия</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Введите фамилию" name="surname" required>
                            <div class="invalid-feedback">
                                Valid surname is required.
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="firstName">Имя</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Введите имя" name="name" required>
                            <div class="invalid-feedback">
                                Valid name is required.
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="fatherName">Отчество</label>
                            <input type="text" class="form-control" id="fatherName" placeholder="Введите отчество" name="fatherName" required>
                            <div class="invalid-feedback">
                                Valid fatherName is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Логин</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="username" placeholder="Введите Login" name="login" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Your login is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
                        <div class="invalid-feedback">
                            Please enter a valid password.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password_conf">Подтвердите пароль</label>
                        <input type="password" class="form-control" id="password_conf" name="password_conf" placeholder="Подтвердите пароль" required>
                        <div class="invalid-feedback">
                            Passwords don't equals.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Страна</label>
                            <select class="custom-select d-block w-100" id="country" required>
                                <option value="">Ukraine</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="city">Город</label>
                            <select class="custom-select d-block w-100" id="city" required>
                                <option value="">Choose...</option>
                                <option>Kiev</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Пол</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="male" name="gender" type="radio" class="custom-control-input" checked required>
                            <label class="custom-control-label" for="male">Мужской</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="female" name="gender" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="female">Женский</label>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
                </form>
            </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Social-Network,Inc. 2018 </p>
        </footer>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery-slim.min.js') }}"><\/script>')</script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/holder.min.js') }}"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';

            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}